@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", "sans-sarif";
}
html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 100vh;
  background: url(./Assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  position: absolute;
}
nav h1 {
  padding: 0 100px;
  font-size: 30px;
  font-weight: 800;
  color: white;
}
nav > h1 > span {
  color: crimson;
}
.icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
  right: 0;
}
.nav-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav-link {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-line::before {
  width: 0%;
  bottom: -10px;
}

.nav-link-line:hover::before {
  width: 100%;
}

button {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;
  display: block;
  background: linear-gradient(to right, white 50%, blueviolet 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
button:hover {
  color: black;
  background-position: left bottom;
}
#check {
  display: none;
}
.hero {
  width: 40%;
  color: white;
  top: 40%;
  position: absolute;
  padding: 0 100px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-content h1 {
  font-size: 46px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 50px;
  padding: 10px 0;
}
.hero-content > h1 > span {
  color: red;
}
.hero-content p {
  font-size: 20px;
  line-height: 25px;
  padding: 10px 0;
}
.hero-content button {
  margin-top: 20px;
}
.feature-section {
  width: 100%;
  margin-top: 100px;
}
.feature-section h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  text-transform: uppercase;
}
.feature-data {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 70px;
  margin-top: 40px;
}
.feature-data-grid {
  width: 270px;
  height: auto;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.grid-content {
  padding: 0 10px;
}
.grid-ui-img {
  width: 270px;
  height: 150px;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.feature-data-grid h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  opacity: 0.8;
}
.feature-data-grid p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.7;
}
.grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
}
.grid-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.About {
  width: 100%;
  margin-top: 100px;
}
.About h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  text-transform: uppercase;
  margin-top: 50px;
}
.about-content {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px 100px;
}
.aboutImage {
  height: 100%;
  width: 500px;
  border: none;
  border-radius: 10px;
}
#app-logo {
  margin-right: 10px;
}
.about-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}
.about-content h2 {
  font-size: 30px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.about-content p {
  font-size: 16px;
  opacity: 0.7;
}
.about-content button {
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.review {
  width: 100%;
  margin-top: 100px;
}
.review h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.review-grid {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 140px;
  margin: 40px 0;
}
.review-grid-box {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}
.review-grid-image {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}
.review-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;
}
.review-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.review-detail h2 {
  color: darkcyan;
  padding: 5px 0;
}
.review-star {
  color: green;
}
.review-detail p {
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}
.pricing {
  width: 100%;

  margin-top: 100px;
}
.pricing h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.price-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
  margin: 40px 0;
}
.price-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px 20px;
}
.price-boxes h2 {
  color: violet;
}
.price-boxes h1 {
  text-transform: capitalize;
  padding: 10px 0;
}
.price-boxes h1 span {
  font-size: 20px;
  padding-top: 6px;
}
#price-icon-correct {
  color: green;
  margin-right: 10px;
}
.pricing-menu p {
  padding: 10px 0;
}
#price-icon-wrong {
  color: red;
  margin-right: 10px;
}
.pricing-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.pricing-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.contact {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact h1 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkcyan;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact-content {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 100px;
}
.contact-form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 100%;
}
.contact-img {
  height: 410px;
  width: 500px;
  border-radius: 10px;
}
.inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputdiv span {
  font-weight: bold;
  margin-right: 20px;
}
.inputfield {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 70px;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px;
}

.inputarea {
  outline: none;
  border: none;
  width: 100%;
  padding: 50px 70px;
  background-color: lightgrey;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  padding: 40px 70px;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px 10px 10px 0px;
}
.contact-button {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;
  padding: 10px 100px;
}
.footer-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 10px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.bottomFooter {
  background-color: black;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authcontainer {
  width: 100%;
  height: 100vh;
  background: url(./Assets/auth.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.center h1 {
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="Submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

input[type="Submit"]:hover {
  background: blueviolet;
  color: #e9f4fb;
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.HomeAbout {
  width: 100vw;
  height: 25vh;
}

@media (max-width: 992px) {
  .icon {
    display: inline-flex;
    padding: 0 50px;
  }
  .icon #close-icon {
    display: none;
  }
  #check:checked ~ .icon #menu-icon {
    display: none;
  }

  #check:checked ~ .icon #close-icon {
    display: block;
  }
  #check:checked ~ .nav-menu {
    height: 100vh;
    display: block;
  }

  .nav-menu {
    display: none;
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    top: 90%;
    width: 100%;
    padding: 0;
    left: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(50px);
  }
  .nav-menu li {
    margin: 50px;
  }
  .hero {
    width: 70%;
    position: relative;
  }
  .hero-content h1 {
    font-size: 30px;
    line-height: 36px;
    padding: 8px 0;
  }
  .hero-content p {
    font-size: 16px;
  }
  .feature-data {
    grid-template-columns: 300px 300px;
    padding: 0 0 0 0px;
  }
  .feature-data-grid {
    width: 300px;
  }
  .grid-ui-img {
    width: 300px;
  }
  .grid-button {
    margin: 20px 65px;
  }
  .About {
    width: 100%;
    margin-top: 100px;
  }

  .about-content {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 30px;
  }
  .aboutImage {
    width: 600px;
  }

  .about-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .about-content h2 {
    font-size: 26px;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .review {
    margin-top: 50px;
  }
  .review-grid {
    grid-template-columns: 300px 300px;
  }
  .review-grid-box {
    padding: 10px 5px;
  }
  .pricing {
    margin-top: 50px;
  }

  .price-grid {
    display: grid;
    grid-template-columns: 300px 300px;
  }
  .contact {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 30px;
  }
  .contact-form {
    padding: 10px 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100%;
  }
  .contact-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }

  .inputfield {
    padding: 10px 10px;
  }

  .inputarea {
    padding: 40px 20px;
  }
  .contact-button {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .container {
    max-width: 1170px;
    margin: auto;
  }
  .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col {
    width: 40%;
    padding: 0 15px;
    margin-top: 30px;
  }

  .bottomFooter {
    height: 50px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  nav h1 {
    padding: 0 40px;
    font-size: 30px;
    font-weight: 800;
    color: white;
  }
  .hero {
    width: 40%;
    color: white;
    top: 40%;
    position: absolute;
    padding: 0 40px;
  }
  .icon {
    display: inline-flex;
    padding: 0 50px;
  }
  .icon #close-icon {
    display: none;
  }
  #check:checked ~ .icon #menu-icon {
    display: none;
  }

  #check:checked ~ .icon #close-icon {
    display: block;
  }
  #check:checked ~ .nav-menu {
    height: 100vh;
    display: block;
  }
  .nav-menu {
    display: none;
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(50px);
  }
  .nav-menu li {
    margin: 50px;
  }
  .hero {
    width: 70%;
    position: relative;
  }

  .hero-content h1 {
    font-size: 30px;
    line-height: 36px;
    padding: 8px 0;
    opacity: 0.5;
  }
  .hero-content p {
    font-size: 14px;
    opacity: 0.5;
  }
  .hero-button {
    opacity: 0.5;
  }
  .feature-data {
    grid-template-columns: 300px;
    padding: 0 0 0 0px;
  }
  .feature-data-grid {
    width: 300px;
  }
  .grid-ui-img {
    width: 300px;
  }
  .grid-button {
    margin: 20px 65px;
  }
  .About {
    width: 95%;
    margin-top: 100px;
    padding: 0 10px;
  }

  .about-content {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 30px;
  }
  .aboutImage {
    width: 300px;
  }

  .about-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .about-content h2 {
    font-size: 24px;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .review {
    margin-top: 50px;
  }
  .review-grid {
    grid-template-columns: 300px;
  }
  .review-grid-box {
    padding: 10px 5px;
  }
  .pricing {
    margin-top: 50px;
  }

  .price-grid {
    display: grid;
    grid-template-columns: 300px;
  }
  .contact {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px 30px;
  }
  .contact-form {
    padding: 10px 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 100%;
  }
  .contact-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }

  .inputfield {
    padding: 10px 10px;
  }

  .inputarea {
    padding: 40px 20px;
  }
  .contact-button {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .container {
    max-width: 1170px;
    margin: auto;
    padding: 10px 20px;
  }
  .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #24262b;
    padding: 20px 0;
  }
  .footer-col {
    width: 40%;
    padding: 0 15px;
    margin-top: 30px;
  }

  .bottomFooter {
    height: 50px;
    text-align: center;
  }

  .center {
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
}
